<!-- Main:Noticias -->
<main th:fragment="periodistas">

        <div th:if="${periodistas.size() >= 1}" class="container my-5">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Periodista</th>
                <th scope="col">Baja/Alta</th>
                <th scope="col">Sueldo</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="periodista:${periodistas}">
                <th scope="row"></th>
                <td th:text="${periodista.email}"></td>

                <td>
                  <div th:if="${periodista.activo == false}" class="col-auto">
                    <form action="periodistas/activar" method="POST">
                      <input hidden name="id" th:value="${periodista.id}">
                      <button sec:authorize="hasAnyRole('ADMIN')" title="Alta" class="btn btn-success mx-2 px-2" type="submit">
                        <i class="bi bi-person-add"></i>
                      </button>
                    </form>
                  </div>
      
                  <div th:unless="${periodista.activo == false}" class="col-auto">
                    <form action="periodistas/desactivar" method="POST">
                      <input hidden name="id" th:value="${periodista.id}">
                      <button sec:authorize="hasAnyRole('ADMIN')" title="Baja" class="btn btn-danger mx-2 px-2" type="submit">
                        <i class="bi bi-person-dash"></i>
                      </button>
                    </form>
                  </div>
                </td>

                <td> 
                  <div class="d-flex align-items-baseline">
                  <form class="" action="periodistas/sueldo" method="POST">
                    <input hidden name="id" th:value="${periodista.id}">
                    <input type="number" class="form-control w-50" name="sueldo" step="0.01" min="0.0" th:value="${periodista.sueldo}">      
                  </form>
                  <button sec:authorize="hasAnyRole('ADMIN')" title="Editar Sueldo" class="btn btn-light" type="submit">
                    <i class="bi bi-pencil-square"></i>
                  </button> 
                  </div>
                </td>

              </tr>
            </tbody>
          </table>

        <div th:unless="${periodistas.size() >= 1}" class="alert alert-warning text-center" role="alert">
          No hay Periodistas para mostrar.
        </div>

</main>
</body>
</html>