<html lang="en" xmlns:th="http://www.tyhmeleaf.org" xmlns:sec="http://www.tyhmeleaf.org/extras/spring-security">
<head th:replace="/fragments/head.html::head"></head>

<body>
  <navbar th:replace="/fragments/navbar.html::navbar"></navbar>

  <!-- Main:Error Msg -->
  <main>
    <div th:text="${error}" class="alert alert-danger text-center rounded-0 border-0" role="alert">
      Error!
    </div>
  </main>

  <!-- Modal: Crear -->
  <section th:replace="/fragments/crear.html::crear"></section>

</body>
</html>
